{% set current_page = 'account_transactions_filter' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="row line-height-36">
				<form>
					<div class="form-section-header">
						<h4 class="light-font">Hesap Hareketleri</h4>
					</div>
					<div class="form-content">
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="sozlesmeno">Sözleşme No</label>
							<div class="col-md-4 col-xs-12">
								<div class="input-collapse line-height-36">
									<select class="form-control" id="sozlesmeno">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="baslangictarihi">Başlangıç Tarihi</label>
							<div class="col-md-4 col-xs-12">
								<div class="input-collapse line-height-36">
									<div class='input-group date' id='baslangictarihi' data-toggle="datepicker" data-time-start="bitistarihi">
										<input type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="icon -calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="bitistarihi">Bitiş Tarihi</label>
							<div class="col-md-4 col-xs-12">
								<div class="input-collapse line-height-36">
									<div class='input-group date' id='bitistarihi' data-toggle="datepicker" data-time-finish="baslangictarihi">
										<input type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="icon -calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 col-md-offset-4 xs-margin-top">
								<a href="/account_transactions.html" class="btn btn-primary btn-shadow btn-rounded btn-block btn-sender">
									<i class="icon -login"></i> Hesap Hareketlerini Göster
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="alert alert-info styled-alert margin-top-20">
				<span class="outward-icon"><em><i class="icon -info-invert"></i></em></span> Hesap hareketlerinizi; e-posta adresinizden takip etmek istiyorsanız, iletişim bilgileri ekranında güncel bilgilerinizi kontrol ediniz.
			</div>
		</div>
	</div>
	<!-- form-section ended -->
{% endblock %}