{% set current_page = 'applicants' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix applicant">
		<div class="applicant-title opacity-50 text-center">
			<h4 class="light-font">Hayallerinizdeki otomobile ulaşmak için “Başvur” butonuna basmanız yeterli!</h4>
			<div class="row">
				<div class="applicant-input col-xs-6 col-centered">
					<form>
						<label class="control-label" for="tckimlik">T.C. Kimlik No:</label>
						<input type="text" class="applicant-input__tag" name="tckimlik" id="tckimlik" readonly="readonly" value="99884312570">
						<button type="submit" class="applicant-input__btn btn btn-warning btn-shadow btn-sender">Başvur</button>
					</form>	
				</div>
			</div>
		</div>
		<div class="applicant-paper text-center">
			<div class="applicant-paper__head clearfix">
				<div class="applicant-paper__icon -bg-yellow"><i class="icon -hourglass"></i></div>
			</div>
			<div class="applicant-paper__title">
				<h3 class="extrabold-font">BAŞVURU DEĞERLENDİRİLİYOR</h3>
				<p><strong>Başvurunuz değerlendirilmektedir. Başvuru sonucu için kısa bir süre sonra sayfayı güncelleyiniz.</strong></p>
				<p>Başvurunuz için ön onay verilmesi durumunda, bayi seçimi yaparak kolayca kredinizi kullanabilirsiniz.</p>
			</div>
		</div>
	</div>
{% endblock %}