{% set current_page = 'campaings' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="campaign-area">
				<div class="campaign-area__title">
					<p>Kampanya ve fırsatlarımız aylık olarak güncellenmektedir.</p>
					<h3>ALJ Kampanya & Fırsatlar</h3>
				</div>
				<div class="campaign-area__list row-centered row">
					<div class="col-xs-12 col-md-5 col-centered">
						<div class="campaign campaing-big">
							<div class="campaign-image">
								<a href="campaign-detail.html" title="kampanya adi">
									<img src="assets/images/campaign-image1.png" alt="kampanya adi">
								</a>
							</div>
							<div class="campaign-detail">
								<div class="campaign-detail__padding">
									<h3><a class="fontsize22" href="campaign-detail.html">ŞİMDİ 2. EL ALMANIN TAM ZAMANI</a></h3>
									<p><a href="campaign-detail.html">Yeni 2. el arabanıza hemen kavuşun diye büyük faiz indirimleri ALJ'de.</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- campaign 1 - ended -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}