{% set current_page = 'campaings' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="campaign-area">
				<div class="campaign-area__title">
					<p class="text-left">Kampanya ayrıntıları:</p>
					<h3 class="text-left">ALJ Kampanya & Fırsatlar</h3>
				</div>
				<!-- campaign area title ends -->
				<div class="campaign-area__content">
					<div class="campaign row">
						<div class="col-md-6 col-xs-12 pull-right campaign-file">
							<img src="assets/images/campaign-image1.png" alt="kampanya adi" />
						</div>
						<div class="campaign-title">
							<h3 class="fontsize26 xs-full">ŞİMDİ 2. EL ALMANIN TAM ZAMANI</h3>
							<p class="lead xs-full">Yeni 2. el arabanıza hemen kavuşun diye büyük faiz indirimleri ALJ'de.</p>
						</div>
						<div class="campaign-text">
							<div class="text text-left">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo nisl a urna scelerisque, vitae sollicitudin tellus cursus. Integer quis imperdiet massa, vitae posuere erat.</p>
								<p>Nulla ullamcorper posuere pretium. Cras sed tristique magna. Praesent mattis feugiat enim, quis vulputate justo elementum sed. Duis tempor pretium justo ut feugiat. In laoreet accumsan mauris, a dignissim dui malesuada sed.</p>
								<p>Aliquam vitae malesuada lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis id nunc porttitor finibus. Nullam cursus quam non mi ultricies porttitor.</p>
							</div>
						</div>
						<!-- campaign text ends -->
					</div>
				</div>
				<!-- campaign content ends -->
			</div>
		</div>
	</div>
{% endblock %}