{% set current_page = 'debt_inquiry' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="row line-height-36">
				<form>
					<div class="form-section-header">
						<h4 class="light-font">Borç Sorgulama</h4>
					</div>
					<div class="form-content">
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="sozlesmeno">Sözleşme No</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse line-height-36">
									<select class="form-control" id="sozlesmeno">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="odemetarihi">Ödeme Tarihi</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse line-height-36">
									<div class='input-group date' id='odemetarihi' data-toggle="datepicker">
										<input type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="icon -calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-xs-12 xs-margin-top">
								<button type="submit" class="btn btn-primary btn-shadow btn-rounded btn-block btn-sender">
								<i class="icon -login"></i> Hesapla
								</button>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-2" for="borctutari">Toplam Borç Tutarı</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse input-group line-height-36">
									<input type="text" class="form-control" name="borctutari" id="borctutari" readonly="readonly">
									<span class="input-group-addon">USD</span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="alert alert-info styled-alert margin-top-20">
				<span class="outward-icon"><em><i class="icon -info-invert"></i></em></span> Hesaplatılan tutar, ilgili ödeme tarihine aittir.
			</div>
		</div>
	</div>
	<!-- form-section ended -->
{% endblock %}