{% set current_page = 'early_close_inquiry' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="row line-height-36">
				<form>
					<div class="form-section-header">
						<h4 class="light-font">Erken Kapama Sorgulama</h4>
					</div>
					<div class="form-content">
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-1" for="tip">İşlem Tipi</label>
							<div class="col-md-9 col-xs-12">
								<div class="btn-group row" data-toggle="buttons">
									<div class="col-md-6">
										<label class="radio checked">
					                        <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
					                        <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
					                        <i></i>Erken Kapama Tutarını Öğrenmek İstiyorum
					                     </label>
					                 </div>
					                 <div class="col-md-6">
					                     <label class="radio">
					                        <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
					                        <input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option2">
					                        <i></i>Erken Kapama Talebi Yapmak İstiyorum
					                     </label>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-1" for="sozlesmeno">Sözleşme No</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse line-height-36">
									<select class="form-control" id="sozlesmeno">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-1" for="tarihs">Erken Kapama Tarihi</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse line-height-36">
									<div class='input-group date' id='tarihs' data-toggle="datepicker">
										<input type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="icon -calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-xs-12 xs-margin-top">
								<button type="submit" class="btn btn-warning btn-shadow btn-rounded btn-block btn-sender">Hesapla</button>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-1" for="borctutari">Erken Kapama Tutarı</label>
							<div class="col-md-3 col-xs-12">
								<div class="input-collapse input-group line-height-36">
									<input type="text" class="form-control" name="borctutari" id="borctutari" readonly="readonly">
									<!-- <span class="input-group-addon">USD</span> -->
								</div>
							</div>
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12" for="borctutari">Erken Kapama Nedeni</label>
							<div class="col-md-4 col-xs-12">
								<div class="input-collapse line-height-36">
									<select class="form-control" id="sozlesmeno">
										<option>Seçiniz</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<label class="control-label xs-text-center padding-0 col-md-2 col-xs-12 col-md-offset-1" for="degisiklik">Erken Kapama Talimatı</label>
							<div class="col-md-9 col-xs-12">
								<div class="input-collapse line-height-36">
									<div class="input-group file-group">
										<input type="text" class="form-control" readonly>
										<span class="input-group-btn">
											<span class="btn btn-primary btn-file">Seç <input type="file" multiple></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row button-row text-center">
				<a href="index.html" class="btn btn-primary btn-shadow"><i class="icon -save"></i> Kaydet</a>
				<a href="#" class="btn btn-warning btn-shadow"><i class="icon -close-invert"></i> Vazgeç</a>
			</div>
			<div class="alert alert-info styled-alert line-height-fix margin-top-20">
				<span class="outward-icon"><em><i class="icon -info-invert"></i></em></span> Hesaplatılan erken kapama tutarı; girilen erken kapama tarihi için geçerlidir. Verilen tutarlar ilgili günün iş günü ve 16:30'a kadar ödenmesi durumunda geçerlidir.
			</div>
		</div>
	</div>
	<!-- form-section ended -->
{% endblock %}