{% set current_page = 'loading' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#applicantmodal">
	Basvuru Popup
	</button>
	<!-- Modal -->
	<div class="modal fade modal-applicant" id="applicantmodal" tabindex="-1" role="dialog" aria-labelledby="applicantmodal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<h2>HAYALİNİ KURDUĞUN<br/> SÜRÜŞ KEYFİNE<br/><strong>ÇOK AZ KALDI!</strong></h2>
					<p>dd/mm/yyyy tarihinde ALJ Finans üzerinden yapmış olduğunuz ön başvuru, olumlu sonuçlanmıştır.</p>
					<p>Başvurunuz, sadece ön onay niteliği taşımaktadır ve 30 gün boyunca geçerli olacaktır.</p>
					<p>Aracınızı seçmek ve kredi işlemlerinizi başlatmak ve için lütfen ‘ilgileniyorum’ ekranında bayi seçimi yapınız.</p>
					<h3 class="price-area">48.000 TL</h3>
					<div class="right-side">
						<div class="car-area"></div>
						<div class="modal-actions">
							<ol>
								<li>
									<a class="btn btn-warning btn-larger btn-shadow btn-keys btn-rounded" href="applicants.html">İlgileniyorum</a>
								</li>
								<li>
									<a class="btn btn-default btn-widen btn-rounded" href="#">Daha sonra hatırlat</a>
								</li>
								<li>
									<a class="btn btn-default btn-widen btn-rounded" href="#">İlgilenmiyorum</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}