{% set current_page = 'loading' %}
{% extends 'layouts/base.html' %}
{% block content %}
	<div class="form-section col-md-12 clearfix">
		<div class="col-md-12 intend-padding">
			<div class="row line-height-36">
				<form>
					<div class="form-section-header">
						<h4 class="light-font">İşlem Başarıyla tamamlandı.</h4>
					</div>
					<div class="form-content">
						<p>İşleminizi başarıyla tamamladınız mesajı buraya gelecek.<p>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}